form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 38px 25px;
    margin: 0 59px 0 0;
}
form span {
    color: #212529;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 12px;
}
form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #868E96;
    padding: 4px 4px 4px 10px;
    border: none;
    margin-bottom: 4.4px;
}
.ex {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #868E96;
    margin-bottom: 17.7px;
}
form div {
    margin-bottom: 10px;
}
.sub1 {
    margin-right: 140px;
}
.inputs {
    margin-bottom: 19px;
}
.inputs input {
    width: 115px;
    margin-right: 36px;
}
select {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #868E96;
    padding: 9px;
    border: none;
    background: #fff;
    cursor: pointer;
}
form button {
    width: 247px;
    background-color: #FD377E;
    line-height: 30px;
    border: 2px solid #FD377E;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}