header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    background: #F8F9FA;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    margin-bottom: 39px;
}
.flex--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}
.title {
    display: flex;
}
.title span {
    font-weight: bold;
    font-size: 24px;
    margin: 0 5px 0 20px;
    color: #FD377E;
}
.title p {
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
    color: #212529;
}
header button {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #868E96;
    padding: 9px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
@media (min-width:768px){
    header {
        width: 100%;
    }
}
